/* Default desktop style */
.Fe {
  width: 100%;
//   max-width: 300px;  // adjust card width for desktop
  margin: 0 auto;
}

/* <= 600px - tablet / small desktop */
@media screen and (max-width: 600px) {
  .Fe {
    scale: 0.85; 
    margin-bottom: -4%;// slightly smaller for medium phones
    // width: 170px;
  }
}

/* <= 500px - large mobile */
@media screen and (max-width: 500px) {
  .Fe {
    // display: flex;
    // align-items: left;
    max-width: 100%;
  }
}

/* <= 400px - medium mobile */
@media screen and (max-width: 400px) {
  .Fe {
    scale: 0.65; 
    margin-bottom: -10%;// slightly smaller for medium phones
    // width: 170px;
  }
}

/* <= 350px - small mobile */
@media screen and (max-width: 350px) {
  .Fe {
    // max-width: 150px;
  }
}
