.Fcard {
  font-family: "Inter";
  box-sizing: border-box;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  gap: 16px; // space between icon and text
  padding: .8rem 1rem;
  padding-right: 1.5rem;
  border-radius: 60px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgb(108, 104, 104);

  .Fcard-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
  }

  .Fcard-content {
    .Fcard-title {
      font-size: 1.1rem;
      font-weight: 500;
      margin: 0;
      color: #000;
    }

    .Fcard-description {
      font-size: 14px;
      margin: 0;
      color: #666;
    }

  }

}